{% extends 'base.html' %}
{% load static %}
{% block title %} Breakdown {% endblock %}

{% block content %}
<div class="container">
  <a href="{% url 'tbp-table2-list' %}" class="btn btn-primary my-2">Back to News Data</a>
  <h4>{{tbp_table2.title}}</h4>
  <p>{{tbp_table2.paragraph|slice:":400"}}<span id="dots{{tbp_table2.id}}">...</span><span id="more{{tbp_table2.id}}" style="display: none;">{{tbp_table2.paragraph|slice:"400:"}}</span><button onclick="moreless('dots{{tbp_table2.id}}', 'more{{tbp_table2.id}}', 'buttonid{{tbp_table2.id}}')" id="buttonid{{tbp_table2.id}}">read more</button></p>



  <p>Persentase Positive: {{percentagePOS}}</p>
  <p>Persentase Negative: {{percentageNEG}}</p>

  <h4>Breakdown</h4>

  <table class="table" id="tb_sentences">
    <thead>
        <tr>
            <th scope="col">Sentence</th>
            <th scope="col">Label</th>
        </tr>
    </thead>
    {% for key,value in outputs.items %}
    <tbody>
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
  
</div>

{% endblock %}